.pricing__wrapper{
    background: #F5F5F5;
    padding: 105px 0 50px;
    margin-bottom: 104px;
}

.pricing__inner {
    display: flex;
    justify-content: space-between;
}

.pricing-card {
    flex-basis: 33.3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.4s ease;
}

.pricing__inner .atropos:nth-child(2),
.pricing__inner .atropos:nth-child(3){
    margin-left: 20px;
}

.pricing-card_shadow{
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}


.pricing-card__top {
    background: #333333;
    color: #ffffff;
}

.pricing-card__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    border-bottom: 2px solid #F5F5F5;
    padding: 12.5px 0;
    transition: all 0.4s ease;
}

.pricing-card__price {
    padding: 28px 0;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    border-bottom: 2px solid #F5F5F5;
    transition: all 0.4s ease;
}

.pricing-card__label {
    padding: 14.5px 0;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    transition: all 0.4s ease;
}

.pricing-card__size {
    padding: 15px 0 14px;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #86878B;
    background: #FFFFFF;
    transition: all 0.4s ease;
}

.pricing-card__size + .pricing-card__size{
    border-top: 2px solid #F5F5F5;
}

.pricing-card_padding{
    padding-top: 20px;
}

.my-atropos,
.my-atropos-2,
.my-atropos-3{
    width: 370px;
}