.social-media__wrapper {
    background: #F8EFEF;
}


.social-media__inner {
    display: flex;
    align-items: center;
    padding: 24px 0 23px;
}

.social-media__title {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 18px;
    transition: all 0.4s ease;
}

.social-media__text {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    transition: all 0.4s ease;
}

.social-media__left{
    width: 470px;
    margin-right: 30px;
}

.social-media__right{
    display: flex;
}

.social-media__image{
    transition: all 0.4s ease;
}

.social-media__link + .social-media__link{
    margin-left: 30px;
}

.social-media__link:hover svg path{
    transition: ease 0.4s;
    fill: #000000;
    transform: scale(1.1, 1.1);
}

.social-media__text-mob{
    display: none;
}

