.header__top-wrapper{
    background-color: #000000;
}

.header__top{
    max-width: 1255px;
    margin: 0 auto;
    padding: 22px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
}

.menu__item{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
}

.menu__item + .menu__item{
    margin-left: 64px;
}

.menu__link{
    color: #ffffff;
}

.header__bottom-wrapper {
    position: relative;
    background-image: url(../images/main-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 207px 0 183px;
    z-index: 10;
}

.header__bottom-wrapper:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.header__bottom-inner {
    display: flex;
    justify-content: space-between;
}

.header__left-section{
    margin-top: 23px;
}

.header__right-section{
    width: 470px
}

.header__bottom-image {
    margin-bottom: 73px;
}

.header__bottom-title {
    position: relative;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 100px;
    width: 670px;
}

.header__bottom-title:before{
    content: '';
    position: absolute;
    width: 170px;
    height: 1px;
    background-color: #fff;
    left: 0;
    bottom: -65px;
}

.header__bottom-subtitle {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-bottom: 42px;
    color: #FFFFFF;
    width: 270px;
}

.header__bottom-btn {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    border: 2px solid #ffffff;
    color: #FFFFFF;
    cursor: pointer;
    width: 270px;
    padding: 14.5px;
}

.header__bottom-btn:hover{
    transition: ease 0.4s;
    color: #EC7979;
    border: 2px solid #EC7979;;
}

.header__bottom-btn:active{
    color: #ffffff;
    background: #AB4949;
    border: 2px solid #AB4949;;
}


.header-form {
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 470px;
    width: 100%;
}

.header-form__inner{
    padding: 30px 50px 75px;
}

.header-form__title {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 75px;
}

.header-form__title_accent {
    color: #EC7979;
}

.header-form__content {
    width: 100%;
    position: relative;
    outline: none;
    border-bottom: 1px solid #BDBDBD;
}

.header-form__content + .header-form__content{
    margin-top: 30px;
}

.header-form__label {
    position: absolute;
    left: 0;
    top: 0;
}

.header-form__input {
    width: 100%;
    border:none;
    outline: none;
    padding: 0;
    height: 38px;
}

.header-form__input::placeholder{
    position: absolute;
    left: 0;
    right: 0;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}

.header-form__send-btn {
    background: #EC7979;
    border-radius: 0 0 10px 10px;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px 20px;
    cursor: pointer;
}

.header-form__send-btn:hover{
    transition: ease 0.4s;
    background: #AB4949;
    color: #ffffff;
}

.header-form__send-btn:active{
    background: #EC7979;
    box-shadow: inset 0 0 10px #AB4949;
}